@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    /* Colors */
    --reindalYellow: #f0d818;
    --reindalLightYellow: #ece082;
    --reindalYellowHover: #ddca19;
    --reindalLight: #fffbe1;
    --reindalExtraLight: #fcfbf4;
    --reindalTab: #929294;
    --reindalGray: #646464;
    --reindalDark: #3c3c3c;
    --reindalBlack: #151515;
    --reindalAbsoluteBlack: #000;
    --reindalBody: #fefefe;
    --reindalGrayLight: #ddddddc5;
    --reindalRed: #dc3545;
    --reindalDarkRed: #c82333;
    --reindalMint: #d4edda;
    --reindalDarkGreen: #155724;
    --reindalGreen: #c3e6cb;
    --reindalLightPink: #f8d7da;
    --reindalWineRed: #721c24;
    --reindalPink: #f5c6cb;

    /* Fonts */
    --font-primary: 'Poppins';
}